/*
 * These theme uses default variables at ../_variables.scss
 */
$text-color: #333;
$top-text-color: #333;
$dim-text-color: #8b9aa7;
$input-text-color: #333;
$button-text-color: #333;
$tab-selected-border-color: #333;

$input-border-color: #8b9aa7;

$hover-link-color: #003366;
$top-hover-link-color: #003366;
$button-hover-background-color: #003366;
$input-hover-background-color: #003366;
$sidebar-hover-action-color: #003366;
$sidebar-arrow-color: #003366;

$link-color: #446799;
$primary-button-background-color: #446799;
$input-icon-color: #446799;
